<span class="my-email">To: <a href="mailto:Marcin.K.Cebula@gmail.com">Marcin.K.Cebula@gmail.com</a></span>
<br />

<form class="contact">		
	{{view Blog.MessageEmail}}
	{{view Blog.MessageBody}}
	<br />
	{{view Blog.SendMessageButton}}
</form>