br
div.image.span5
	=link_to image_tag("projects/social-stock-ticker.png", :align => 'middle'), "http://evening-winter-4582.herokuapp.com/"
div.description.span6
	div.name
		a href="http://evening-winter-4582.herokuapp.com"
			| Social Stock Ticker
		p test@email.com : password
	div.description
		| Social Stock Ticker is a portal to a jQuery plugin. It uses Facebook's API to gather page information and displays the daily change in a jQuery Marquee.
	div.technical
		p
			| Build on: <code>Rails 3.2</code>, <code>Ember.js</code>, <code>jQuery</code>,<code>HandleBars</code>, <code>Bootstrap</code>
		p
			| Running on: <code>Heroku</code>
		p
			| Uses: <code>Public/Private API</code>, <code>MongoDB</code>, <code>Resque</code>, <code>CRON</code>, <code>Devise</code>
		p
			| API: <code>Facebook</code>
	hr
	div.github
		| GitHub: private
