div.image.span5
	=link_to image_tag("projects/wrynku-index.png"), "http://www.wrynku.com"
div.description.span6
	div.name
		a href="http://www.wrynku.com"
			| Wrynku
	div.description
		| Wrynku.com is a Polish/English classifieds. 
	div.technical
		p
			| Build on: <code>Rails 3.0</code>, <code>JavaScript/Jquery</code>, <code>ActionScript</code><code>HAML</code>, <code>SASS</code>
		p
			| Running on: <code>AWS EC2</code>, <code>AWS S3</code>
		p
			| Uses: <code>ElasticSearch</code>, <code>MySQL</code>, <code>Resque</code>, <code>Redis</code>, <code>Capistrano</code>
		p
			| API: <code>Youtube</code>, <code>S3</code>
	hr
	div.github
		| GitHub: private
